header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  padding-left: 10px;
}

nav span {
  padding: 15px;
}
