header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 80px;
  top: 0;
}

footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
}

footer h1 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 30px;
}

footer nav {
  margin-left: 35px;
}

footer .main {
  display: flex;
  align-items: center;
}

footer .copyright {
  margin-top: 15px;
}

body {
  margin: 0;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 30px;
}

.logo span {
  padding-left: 10px;
}

nav span {
  padding: 15px;
}

nav {
  margin-right: 30px;
}

.column.large {
  width: 630px;
  margin-right: 40px;
  align-items: flex-start;
}

.column.medium {
  width: 300px;
  margin-right: 40px;
}

.column.small {
  display: flex;
  width: 240px;
  align-items: center;
  margin-right: 40px;
  flex-direction: column;
  align-content: center;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  border-top: 0;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 80px;
}

.mainstory {
  display: flex;
  flex-direction: column;
}

.mainstory h1 {
  background-image: url("./images/style.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.mainstory h1 span {
  margin-left: 20px;
  margin-right: 20px;
}

.fallseason {
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;
}

.fallseason h1 {
  margin-bottom: 0;
  font-size: 35px;
  margin-top: 0;
}

.fallseason h2 {
  background-image: url("./images/fallseason.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.cameraman {
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
}

.cameraman h1 {
  margin-bottom: 0;
  font-size: 35px;
  margin-top: 0;
}

.cameraman h2 {
  background-image: url("./images/cameraman.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.fbi {
  display: flex;
  flex-direction: column;
}

.fbi h1 {
  margin-bottom: 0;
  font-size: 35px;
  margin-top: 0;
}

.catceo {
  display: flex;
  flex-direction: column;
}

.catceo h1 {
  background-image: url("./images/catceo.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

.catceo p {
  margin-top: 0;
}

.newsbites {
  display: flex;
  flex-direction: column;
}

.newsbites h1 {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.newsbites ul {
  list-style: none;
  padding-left: 0;
  margin: 0px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.newsbites ul li {
  border-bottom: 1px solid black;
  padding: 10px 20px;

}

main p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
